<!DOCTYPE html>
<html>
<head>
<title>Edit Student</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h2>Edit Student</h2>

<form action="/update/{{student[0]}}" method="POST">

<label>Name</label>

<input type="text" name="name" value="{{student[1]}}">

<label>Roll</label>

<input type="text" name="roll" value="{{student[2]}}">

<label>Branch</label>

<input type="text" name="branch" value="{{student[3]}}">

<button>Update</button>

</form>

</div>

</body>
</html>